h1 {
	color: #000;
	font-family: 'Codystar', cursive;
}
h2 {
	font-family: 'Raleway', sans-serif;

}
p{
	font-family: 'Raleway', sans-serif;
}
ul{
    list-style: none;
}
 
ul li:before {
    color: #000;
    content: "\2192";
    font-size: 1.2em;
    
}
.social {}
