header {
	postion: absolute;
	left: 100px;
	top: 40px;
}
h1 {
	color: #000;
	font-family: 'Codystar', cursive;
	font-size: 90px;
	line-height: 130%;
	letter-spacing:5px;
}
h2 {
	font-family: 'Raleway', sans-serif;

}
p{
	font-family: 'Raleway', sans-serif;
	line-height: 150%;
}
ul{
    list-style: none;
    font-family: 'Raleway', sans-serif;
	line-height: 150%;
}
 
ul li:before {
    color: #000;
    content: "\2192";
    font-size: 1.2em;
    
}
.bio {
	max-width: 600px;
	position: relative;
	left: 100px;
	top: 20px;
}
.social {
	float: right;
}
